.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
  letter-spacing: 0.5px;
  border: 1px solid white;
  border-radius: 8px;
  width: 25%;
  height: auto;
  background-color: lightgray;
  padding: 30px;
}

.delete-card-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
}
