@import "./components/Header/Header.css";
@import "./components/Hero/Hero.css";
@import "./pages/NewCarPage/AddNewCarPage.css";
@import "./components/CarForm/AddCarForm.css";
@import "./components/CarCard/CarCard.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background-color: rgba(0, 0, 0, 0.85);
}
